src/main/mule/salesforce_upsert_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="455813cb-3e5f-40f9-81e8-aacde1654cf2" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="41d142e5-365b-4120-9d37-972d80f5c32a" >
		<salesforce:basic-connection username="vinaykumartheetla7@gmail.com" password="Vinnu@8013" securityToken="sfZR5HDwmlPyHavn5jaHBVuMy" />
	</salesforce:sfdc-config>
	<flow name="salesforce_upsert_demoFlow" doc:id="f26ee622-9e1f-45f8-ba25-f3bbf341c239" >
		<http:listener doc:name="Listener" doc:id="59d3cf9d-ce90-47fd-a23c-420bfd430a99" config-ref="HTTP_Listener_config" path="/test"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="c5d79195-5320-4e6f-bba3-8cf261d3f9bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
[{
	Id: payload.id,
	Phone: payload.Phone as String default "",
	Email: payload.Email
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="b91eef39-6b63-499f-8e54-5f01b753ea10" >
			<ee:message >
				<ee:set-payload ><![CDATA[
%dw 2.0
output application/java
&#45;&#45;-
payload map()->{
  
    FirstName:$.FirstName,
    lastName:$.LastName,
    phone:$."Phone",
    Email:$."Email"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="51ec2cf5-6729-4c53-a6ac-760b266161f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
 {
   "FirstName":"kalyan",
   "LastName": "kumar",
   "Phone": 7780621555,
    "Email": "vinaykumartheetla@gmail.com"
  }
 ]
  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="4ac3afa8-46ad-4265-9c5e-baa5111863c2" config-ref="Salesforce_Config" objectType="Contact" externalIdFieldName="Email"/>
		<ee:transform doc:name="Transform Message" doc:id="bc192ccf-702f-4a5a-b192-74149d4372ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
